/files/docker_persistent_data/*
!/files/docker_persistent_data/.gitkeep
/__pycache__/
/__pycache__/*
/hosts
/files/fonts/*
.DS_Store
secret.yml
/.vscode/
/.vscode/*
/host_vars/
!/host_vars/.gitkeep
mountsraspi
.fact_cache
.vault_pass
