#! /bin/sh
echo u > /proc/sysrq-trigger 
echo s > /proc/sysrq-trigger 
tune2fs -O ^has_journal {{ root_filesystem }}
e2fsck -fy /dev/sda1 {{ root_filesystem }}
echo s > /proc/sysrq-trigger 
#echo b > /proc/sysrq-trigger
