---
# Role settings
configure_settings: false
configure_registry: false
remove_persistent_data: false
remove_existing_container: false
persistent_data_path: /opt/portainer:/data
container_image: portainer/portainer-ce:{{ version }}
container_name: portainer
container_labels: {}
container_network:
container_restart_policy: always
container_recreate: false
auth_method: 1

# Portainer version
# Note that 'latest' will get you 2.19.x - the tag seems to be behind
version: 2.20.3

# Misc settings
company_logo_url: url_to_company_logo
templates_url: https://raw.githubusercontent.com/portainer/templates/master/templates.json
allow_bindmounts_users: true
allow_privileged_users: true

# Networking
host_port: 9443
container_ports:
  - 9443:9443

# Admin User
admin_user: admin
# admin_password: password admin password delegated to portainer-vars.yml in vault

# Endpoints (of Portainer Agents)
endpoints:
  - { name: "{{ inventory_hostname }}", url: "", id: "1" }
  - { name: "ams-dmz-jump", url: "tcp://172.16.10.92:9001", id: "2" }
