BLOCKING_ENABLED=true
WEBPASSWORD=
DNSSEC=true
REV_SERVER=false
IPV4_ADDRESS={{ ansible_default_ipv4.address }}/24
IPV6_ADDRESS={{ ansible_default_ipv6.address }}
PIHOLE_DNS_3={{ forward_dns_3 }}
PIHOLE_DNS_4={{ forward_dns_4 }}
PIHOLE_INTERFACE=eth0
PIHOLE_DNS_1={{ forward_dns_1 }}
PIHOLE_DNS_2={{ forward_dns_2 }}
QUERY_LOGGING=false
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNS_FQDN_REQUIRED=false
DNS_BOGUS_PRIV=true
DNSMASQ_LISTENING=local
TEMPERATUREUNIT=C
