---
- name: Include vaulted password file
  ansible.builtin.include_vars:
    file: ../home/ansible-vault/portainer-vars.yml

- name: Configure admin user password
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/users/admin/init"
    method: POST
    return_content: true
    body_format: json
    body: '{ "Username":"{{ admin_user }}", "Password":"{{ admin_password }}"}'
    status_code: 200, 409
