---
- name: Include clean-up tasks
  ansible.builtin.include_tasks: clean-up.yml

- name: Include installation tasks
  ansible.builtin.include_tasks: install.yml

- name: Include setting admin password tasks
  ansible.builtin.include_tasks: admin.yml
  when: admin_user is defined

- name: Generate authentication token
  ansible.builtin.uri:
    url: "{{ portainer_endpoint }}/auth"
    method: POST
    return_content: true
    body_format: json
    body: '{"Username": "{{ admin_user }}", "Password": "{{ admin_password }}"}'
    validate_certs: false
  register: auth_token
  when: admin_user and admin_password is defined

- name: Include tasks to add Portainer Agents for main node only
  ansible.builtin.include_tasks: endpoints.yml
  when: (endpoints is not none) and ('jumpservers' not in group_names)

# Is this the place to add the default jumpserver stacks?
# - name: Incude tasks to add stacks to Portainer
#  ansible.builtin.include_role: portainer_stack
#  when: ('jumpservers' not in group_names)

- name: Include optional settings tasks
  ansible.builtin.include_tasks: settings.yml
  when: configure_settings
