---
# file: 00-assertions.yml
- name: Check supported OS
  hosts: all
  become: true
  tasks:
    - name: Ping all hosts in order to update the cached facts
      ansible.builtin.ping:

    - name: Assert supported version of OS
      ansible.builtin.assert:
        that:
          - ansible_facts['os_family'] == "Debian"
          - ansible_facts['distribution_major_version'] | int >= 12
        fail_msg: "This repository only supports Debian bookworm and trixie"
        success_msg: "System passes supported OS and OS-version"

    - name: Assert that appropriate environment variables are set
      ansible.builtin.assert:
        that:
          - interactive_user is defined
          - interactive_home is defined
          - interactive_password is defined
          - lookup('ansible.builtin.env', 'PRIVATE_REPO') != ''
          - lookup('ansible.builtin.env', 'SSH_ASKPASS') != ''
          - lookup('ansible.builtin.env', 'SSH_ASKPASS_REQUIRE') != ''
        fail_msg: "One or more required environment variables are not set. Did you run firstrun.sh?"
        success_msg: "All required environment variables are set"

    - name: Assert the target environment is known
      ansible.builtin.assert:
        that:
          - stage is defined
        fail_msg: "Your group_vars/all.yml should have a value for stage, which is now not the case"
        success_msg: "This play will target the {{ stage | default('unknown') }} environment"
