---
# file: 00-assertions.yml
- name: Check preconditions for playbooks in this repository
  hosts: all
  gather_facts: false
  tasks:
    - name: Verify connectivity to the hosts that are targeted # noqa: ignore-errors
      ansible.builtin.command: touch /tmp/ansible-ssh-check
      ignore_errors: true
      ignore_unreachable: true
      register: ssh_check_result
      changed_when: false

    - name: Reset errors because maybe we are dealing with a recently bootstrapped system
      ansible.builtin.meta: clear_host_errors

    - name: Set fact to indicate connectivity issues # noqa: no-handler
      ansible.builtin.set_fact:
        ssh_connectivity_issue: "{{ ssh_check_result.unreachable | default(false) }}"

    - name: Tell the user what is the deal with the SSH-key
      ansible.builtin.debug:
        msg: >
          Host {{ inventory_hostname }} has
          {% if ssh_connectivity_issue %}
            SSH-connectivity issues.
          {% else %}
            no SSH-connectivity issues.
          {% endif %}
          Using key {{ ansible_ssh_private_key_file }}.

    # Name of key was changed in February of 2026. If it does not work, try "ansible-key" - you are dealing with an older bootstrap
    - name: Block to correct this host's SSH-key if needed
      when: ssh_connectivity_issue
      block:
        - name: Change ansible-key for hosts with invalid SSH-key and re-gather facts
          ansible.builtin.set_fact:
            ansible_ssh_private_key_file: "{{ install_key }}"
        - name: Tell the user of the key-change
          ansible.builtin.debug:
            msg: "Host {{ inventory_hostname }} had an invalid SSH-key. Changed to {{ ansible_ssh_private_key_file }}"

    - name: Now is the time to gather facts
      ansible.builtin.setup:

    - name: Assert supported version of OS
      ansible.builtin.assert:
        that:
          - ansible_facts['os_family'] == "Debian"
          - ansible_facts['distribution_major_version'] | int >= 12
        fail_msg: "This repository only supports Debian bookworm and trixie"
        success_msg: "Targeted host passes supported OS and OS-version"

    - name: Check Ansible version requirement
      ansible.builtin.assert:
        that: "ansible_version.full is version('2.18', '>=')"
        fail_msg: "This repository requires Ansible 2.18 or higher."
        success_msg: "You are running at least the required Ansible version"
      run_once: true

    - name: Ensure the host running Ansible has the pre-requisites installed
      ansible.builtin.apt:
        name:
          - python3-netaddr # required by the proxmox inventory plugin
        state: present
      delegate_to: localhost
      run_once: true

    - name: Assert that appropriate environment variables are set
      ansible.builtin.assert:
        that:
          - interactive_user is defined
          - interactive_home is defined
          - interactive_password is defined
          - private_repo is defined
          # - lookup('ansible.builtin.env', 'SSH_ASKPASS') != ''
          # - lookup('ansible.builtin.env', 'SSH_ASKPASS_REQUIRE') != ''
        fail_msg: "One or more required environment variables are not set. Did you run firstrun.sh?"
        success_msg: "All required environment variables are set."
      run_once: true

    - name: Tell the user of the private_repo in use
      ansible.builtin.debug:
        msg: "Using private_repo at {{ private_repo }}"
      run_once: true

    - name: Assert the target environment is known
      ansible.builtin.assert:
        that:
          - stage is defined
        fail_msg: "Your group_vars/all.yml should have a value for stage, which is now not the case"
        success_msg: "This play will target the {{ stage | default('unknown') }} environment"
      run_once: true
