---
# file: 12-services.yml
- name: Gather facts for services targets
  hosts:
    - homeserver
    - outpost
  tasks:
    - name: Ping these hosts
      ansible.builtin.ping:
- name: Deploy business services to the homelab
  hosts:
    - homeserver
  become: true
  roles:
    - waal70.paperless_ngx
    - waal70.immich
    - waal70.homepage
  pre_tasks:
    - name: As we are starting the run, delete any left-over marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
  post_tasks:
    - name: Run completed, so delete the marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent

- name: Deploy business services to outpost servers
  hosts:
    - outpost
  become: true
  roles:
    - waal70.dev_tools
    - waal70.kiwix
  vars:
    endpoint_idx: 1  # These services will be deployed to the second endpoint (first outpost)
  pre_tasks:
    - name: As we are starting the run, delete any left-over marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
  post_tasks:
    - name: Inform user of state of variable
      ansible.builtin.debug:
        msg: "host is {{ ansible_facts['hostname'] }}"
    - name: Run completed, so delete the marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
