---
# file: 88-ppl.yml
- name: Deploy paperless-ngx and vaultwarden
  hosts:
    - homeserver
  become: true
  roles:
    - waal70.vaultwarden
    - waal70.authentik
    - waal70.paperless_ngx
    - waal70.homepage
    - waal70.immich
    - waal70.backup

- name: Deploy additional Portainer stacks
  hosts:
    - outpost
  become: true
  roles:
    - waal70.homepage # For testing only
