---
# file: 12-services.yml
- name: Gather facts for services targets
  hosts:
    - homeserver
    - outpost
  tasks:
    - name: Ping these hosts
      ansible.builtin.ping:
- name: Deploy services to the network
  hosts:
    - homeserver
  become: true
  roles:
    - waal70.vaultwarden
    - waal70.authentik
    - waal70.paperless_ngx
    - waal70.immich
    - waal70.homepage
    - waal70.backup
  pre_tasks:
    - name: As we are starting the run, delete any left-over marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
  post_tasks:
    - name: Run completed, so delete the marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent

- name: Deploy services to outpost servers
  hosts:
    - outpost
  become: true
  roles:
    - waal70.forgejo
    - waal70.dev_tools
    - waal70.kiwix
    - waal70.backup
  vars:
    endpoint_idx: 1  # These services will be deployed to the second endpoint (first outpost)
    backup_directories:
      - /appdata
      - /data
    backup_minute: "45"
  pre_tasks:
    - name: As we are starting the run, delete any left-over marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
  post_tasks:
    - name: Inform user of state of variable
      ansible.builtin.debug:
        msg: "host is {{ ansible_facts['hostname'] }}"
    - name: Run completed, so delete the marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
