---
# file: 12-services.yml
- name: Deploy services to the network
  hosts:
    - homeserver
  become: true
  roles:
    - waal70.vaultwarden
    - waal70.authentik
    - waal70.paperless_ngx
    - waal70.homepage
    - waal70.immich
    - waal70.backup

- name: Deploy services to outpost servers
  hosts:
    - outpost
  become: true
  roles:
    - waal70.homepage
  vars:
    endpoint_idx: 1  # These services will be deployed to the second endpoint (first outpost)
