---
# file: 12h-services-homepage.yml
- name: Update homepage and backup services
  hosts:
    - homeserver
  become: true
  roles:
    - waal70.homepage
    - waal70.backup
  pre_tasks:
    - name: As we are starting the run, delete any left-over marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
  post_tasks:
    - name: Run completed, so delete the marker
      ansible.builtin.file:
        path: /tmp/portainertje
        state: absent
