---
- name: Show info on specific host
  hosts:
    - all
  become: true
  gather_facts: true
  tasks:
    - name: Block for active group membership
      ansible.builtin.debug:
        msg: "Groups are: {{ group_names }}"
    - name: Block for active group membership
      ansible.builtin.debug:
        msg: "Private repo is: {{ private_repo }}"
    - name: Show content of /etc/foo.txt
      ansible.builtin.debug:
        msg: "the value of key is {{ lookup('ansible.builtin.file', private_repo ~ '/ssh-keys/' ~ ansible_user ~ '/' ~ ansible_user ~ '-key.pub') }}"
    - name: Get root user info
      ansible.builtin.getent:
        database: passwd
        key: "{{ target_user }}"
    - name: Show root user info
      ansible.builtin.debug:
        var: "ansible_facts.getent_passwd[target_user].1" #UID, GID is .2
  vars:
    target_user: "{{ ansible_env.SUDO_USER | default(ansible_env.USER, true) | default(ansible_user_id, true) }}"
