---
- name: Show info on specific host
  hosts:
    - proxmox_servers
  become: true
  gather_facts: true
  tasks:
  # Pass the process name
    - name: Ensure proxmoxer python library is present in order to use proxmox modules
      ansible.builtin.apt:
        name:
          - python3-proxmoxer
        state: present

    - name: List existing nodes
      community.proxmox.proxmox_node_info:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
      register: proxmox_nodes
    - name: Debug proxmox_nodes
      ansible.builtin.debug:
        msg: "Nodes are: {{ proxmox_nodes }}"
    - name: "Create a vmbridge through the API of Proxmox"
      ansible.builtin.uri:
        url: "{{ proxmox_api }}nodes/{{ ansible_facts['hostname'] }}/network"
        method: GET
        headers:
          Authorization: "{{ authstring }}"
        validate_certs: false
      register: getnetwork
    - name: Debug getnetwork response
      ansible.builtin.debug:
        var: ansible_facts['default_ipv4']
    - name: Set fact for current bridges
      ansible.builtin.set_fact:
        node_bridges: "{{ getnetwork.json | community.general.json_query('data[?type==`bridge`].iface') }}"
        node_physical: "{{ getnetwork.json | community.general.json_query('data[?type==`eth`].iface') | first }}"
    - name: Look for the presence of the default VM on the node
      community.proxmox.proxmox_vm_info:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        name: "default-debian"
      register: node_info
    - name: "Debug"
      ansible.builtin.debug:
        var: node_info
    - name: Set fact for presence of default VM
      ansible.builtin.set_fact:
        template_present: "{{ node_info.proxmox_vms[0].template | default(false) }}"
    - name: Debug
      ansible.builtin.debug:
        var: template_present
    - name: "Block for default bridge. Move to separate file later"
      when: node_bridges | length == 0
      block:
        - name: "Debug getentwor"
          ansible.builtin.debug:
            msg: "No default bridge found. Creating one for ip: {{ ansible_facts['default_ipv4'].address }}"
        - name: "Create default bridge"
          ansible.builtin.uri:
            url: "{{ proxmox_api }}nodes/{{ ansible_facts['hostname'] }}/network"
            method: POST
            headers:
              Authorization: "{{ authstring }}"
            body_format: json
            body:
              iface: "vmbr0"
              type: "bridge"
              autostart: true
              address: "{{ ansible_facts['default_ipv4'].address }}"
              netmask: "{{ ansible_facts['default_ipv4'].netmask }}"
              gateway: "{{ ansible_facts['default_ipv4'].gateway }}"
              bridge_ports: "{{ node_physical }}"
              comments: "Ansible generated default bridge"
            validate_certs: false
        - name: "...and apply"
          ansible.builtin.uri:
            url: "{{ proxmox_api }}nodes/{{ ansible_facts['hostname'] }}/network"
            method: PUT
            headers:
              Authorization: "{{ authstring }}"
            validate_certs: false
    - name: "Now create the template VM on the local storage if it does not exist"
      community.proxmox.proxmox_kvm:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        name: "default-debian"
        description: "template debian server"
        scsi:
          scsi0: 'local:8,format=qcow2'
        scsihw: "virtio-scsi-single"
        net:
          net0: 'virtio,bridge=vmbr0'
        memory: 2048
        cores: 2
        sockets: 1
        agent: true
        state: present
        node: "{{ ansible_facts['hostname'] }}"
      when: not template_present
    - name: "Start it to have it populate and do tftp-based install"
      community.proxmox.proxmox_kvm:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        name: "default-debian"
        state: started
      register: start_kvm
      failed_when: false
      when: not template_present
    - name: Retrieve information about specific VM, allowing up to 10 minutes for creation
      community.proxmox.proxmox_vm_info:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        network: true
        name: "default-debian"
      register: info_ret
      retries: 20
      delay: 30
      until: not info_ret.failed
      when: not template_present
    - name: Debug to show the network interface is up.
      ansible.builtin.debug:
        var: info_ret.proxmox_vms[0]
    - name: Stop VM
      community.proxmox.proxmox_kvm:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        name: "default-debian"
        state: stopped
      when: not template_present
    - name: "Make this VM into a template for all future Debian-based VMs"
      community.proxmox.proxmox_kvm:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        name: "default-debian"
        state: template
      when: not template_present
    - name: "Now storage, back to Ansible modules"
      community.proxmox.proxmox_storage_info:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
      register: proxmox_storages
    - name: Debug
      ansible.builtin.debug:
        var: proxmox_storages
    - name: "Create our first full clone"
      community.proxmox.proxmox_kvm:
        api_host: "{{ ansible_facts['hostname'] }}"
        api_user: "{{ api_user }}"
        api_token_id: "{{ api_token_id | default(omit) }}"
        api_token_secret: "{{ api_token | default(omit) }}"
        node: "{{ ansible_facts['hostname'] }}"
        clone: "default-debian"
        full: true
        name: zavala
        timeout: 500
  vars:
    api_user: "root@pam"
    api_token_id: "ansible"
    api_token: "redacted"
    authstring: "PVEAPIToken={{ api_user }}!{{ api_token_id }}={{ api_token }}"
    proxmox_api: "https://{{ ansible_facts['hostname'] }}:8006/api2/json/"
    target_user: "{{ ansible_facts['env'].SUDO_USER | default(ansible_facts['env'].USER, true) | default(ansible_facts['user_id'], true) }}"
    og_endpoints:
      - { name: "{{ inventory_hostname }}", url: "", id: "1" }
 # - { name: "ams-dmz-jump", url: "tcp://172.16.10.92:9001", id: "2" }
    stack_list: {}
