---
- name: Show info on specific host
  hosts:
    - pi5-01
  become: true
  gather_facts: true
  tasks:
    - name: Block for active group membership
      ansible.builtin.debug:
        msg: "Groups are: {{ group_names }}"
    - name: Block for active group membership
      ansible.builtin.debug:
        msg: "Private repo is: {{ private_repo }}"
        # For development for pi5 development server
    - name: Find whether there exists an outpost group in the inventory
      ansible.builtin.debug:
        msg: "Outpost group exists with members: {{ groups['outpost'] | default('No outpost group defined') }}"
      when: groups['outpost'] is defined
    - name: Find hostnames for nodes belonging to 'outpost' group
      ansible.builtin.debug:
        msg: "Outpost nodes are: {{ groups['outpost'] }}"
      when: groups['outpost'] is defined
    - name: Show IP-addresses for all outpost group membership
      ansible.builtin.debug:
        msg: "Outpost node {{ item }} has IP {{ hostvars[item]['ansible_default_ipv4']['address'] }}"
      loop: "{{ groups['outpost'] }}"
      when: groups['outpost'] is defined
    - name: Setup endpoints variable for outpost nodes
      ansible.builtin.set_fact:
        agent_endpoints: >
          {%- set ep_list = [] -%}
          {%- for host in groups['outpost'] -%}
          {%-   set _ = ep_list.append({'name': host,
                                       'url': 'tcp://' + hostvars[host]['ansible_default_ipv4']['address'] + ':9001',
                                       'id': loop.index + 1}) -%}
          {%- endfor -%}
          {{ ep_list }}
      loop: "{{ groups['outpost'] }}"
      loop_control:
        loop_var: host
      when: groups['outpost'] is defined
    - name: Debug endpoints variable
      ansible.builtin.debug:
        var: agent_endpoints
      when: groups['outpost'] is defined
    - name: Add the agent_endpoints to the og_endpoints variable
      ansible.builtin.set_fact:
        og_endpoints: "{{ og_endpoints + agent_endpoints }}"
      when: groups['outpost'] is defined
    - name: Debug the final og_endpoints variable
      ansible.builtin.debug:
        var: og_endpoints
  vars:
    target_user: "{{ ansible_env.SUDO_USER | default(ansible_env.USER, true) | default(ansible_user_id, true) }}"
    og_endpoints:
      - { name: "{{ inventory_hostname }}", url: "", id: "1" }
 # - { name: "ams-dmz-jump", url: "tcp://172.16.10.92:9001", id: "2" }
