# Global parameters
[global]
        netbios name = {{ ansible_hostname }}
        realm = {{ smb_realm }}
        server role = active directory domain controller
        ntlm auth = mschapv2-and-ntlmv2-only
        workgroup = {{ smb_workgroup }}
        idmap_ldb:use rfc2307  = yes
        dns forwarder = {{ smb_dns_forwarder }}
        bind interfaces only = yes
        interfaces = lo {{ ansible_default_ipv4.interface }}
        ldap server require strong auth = no

[sysvol]
        path = /var/lib/samba/sysvol
        read only = No

[netlogon]
        path = /var/lib/samba/sysvol/{{ smb_realm | lower }}/scripts
        read only = No
